@media (max-width: 1800px) {
  .navbar-nav > li > a{
    font-size: 15px;
    letter-spacing: .5px;
  }
}

@media (max-width: 1600px) {
  .navbar-nav > li > a{
    font-size: 13px;
    letter-spacing: .5px;
  }
  .lawn-banner{
    padding-top: 5.6%;
  }
  .si-text{
    font-size: 21px;
    padding-top: 2%;
    line-height: 28px;
  }
  p{
    font-size: 17px;
    line-height: 32px;
  }
  .coming-soon-title{
    font-size: 70px;
  }
  .sign-icons{
    height: 120px;
  }
  .contact-us-text {
    font-size: 19px;
    line-height: 30px;
  }
  .contact-header {
    padding-top: 18px;
    font-size: 19px;
  }
  .landing-hvr-text {
    color: #fff;
    padding: 4% 2.5% 0%;
    font-size: 19px;
    line-height: 22px;
  }
}
@media (max-width: 1400px) {
  .contact-sign-row{
    padding: 2% 0 0;
  }
  .navbar-nav > li > a{
    font-size: 12px;
    letter-spacing: .5px;
  }
}

@media (max-width: 1254px) {
  .navbar-nav > li > a {
    padding: 0px 12px;
    font-size: 11px;
  }
  .works-grid-3-col-wide .container-fluid {
    padding: 0 15px;
  }
  .main-wrapper-onepage.angles .result-box {
    padding: 40% 0;
  }
  .group-wrap{
    padding:0;
  }
}
@media (max-width: 1065px) {

  .si-logo {
    font-size: 24px;
  }
.contact-us-text {
    font-size: 14px;
    line-height: 20px;
  }
  .contact-header{
    padding-top: 11px;
    font-size: 13px;
    margin-bottom: 0;
  }
}
@media (max-width: 1024px) {
  .landing-signs-row {
    padding: 0 5%;
  }
}
@media (max-width: 968px) {
  hr{
    margin-bottom: 6px;
  }
  .contact-us-text{
    line-height: 18px;
  }
}

 
@media (max-width: 991px) {
  .section-wrap,
  .section-wrap-mp {
    background-attachment: scroll;
  }
  .flex-row{
    display: inline-block;
  }
  .section-wrap {
    padding: 90px 0;
  }
  .service-item-box,
  .team-member,
  .blog-col-3 {
    margin-bottom: 40px;
  }
  .promo-description {
    padding: 40px;
  }
  .grid-3-col.grid-gutter .work-item {
    width: 50%;
  }
  .call-to-action h2,
  .cta-button {
    text-align: center;
  }
  .call-to-action h2 {
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .contact-item {
    border-right: none;
    margin-bottom: 50px;
  }
  .page-title .container {
    height: 300px;
  }
  .title-text {
    padding-top: 50px;
  }
  .title-text h1 {
    font-size: 28px;
  }
  .blog-standard .sidebar,
  .blog-single .sidebar {
    padding-left: 30px;
  }
  .blog-standard .entry-title,
  .blog-standard .entry-meta {
    padding-left: 0;
  }
  .blog-standard .entry {
    margin-top: 20px;
  }
  .entry-content .entry-share {
    float: none;
  }
  #portfolio.angle-bottom:after {
    margin-top: 200px;
  }
  .main-wrapper-onepage.angles .parallax-testimonials .owl-pagination {
    bottom: 140px;
  }
  .nav-type-2 .navbar,
  .nav-type-4 .navbar,
  .nav-type-4 .nav-left {
    min-height: 60px;
  }
  .nav-type-2 .navbar-nav {
    padding: 0;
  }
  .nav-type-2 .navbar-collapse,
  .nav-type-4 .navbar-collapse {
    border-top: 1px solid #f2f2f2;
  }
  .nav-type-2 .nav-wrap {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .dropdown-menu {
    padding: 0;
  }
  .dropdown-menu,
  .dropdown-submenu > .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
  }
  .navbar-nav .open .dropdown-menu {
    width: auto !important;
  }
  .nav-type-2 .nav > li > a {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #f2f2f2;
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar-nav .open .dropdown-submenu .dropdown-menu > li > a {
    padding: 15px 0 15px 30px;
  }
  .navbar-nav .open .dropdown-submenu .dropdown-menu > li > ul > li > a {
    padding: 15px 0 15px 45px;
  }
  .navbar .navbar-collapse.in .navbar-nav .dropdown > a:after,
  .dropdown-submenu > a:after {
    font-family: "FontAwesome";
    position: absolute;
    content: "\f107";
    right: 15px;
    color: #45464b;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    color: #7a7a7a;
  }
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: transparent;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #bfa67a;
  }
  .navbar-nav > li > a.nav-search {
    display: none;
  }
  #mobile-search {
    display: block;
  }
  .mobile-search .form-control {
    height: 51px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
  }
  #mobile-search .search-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 51px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
  }
  .pricing-3-col {
    margin-bottom: 30px;
  }
  .widget {
    margin-bottom: 40px;
  }
  .page-title.style-2 .title-text {
    padding-top: 0;
  }
  .portfolio-description {
    padding-left: 0;
    margin-top: 30px;
  }
  .masonry-grid .work-item.quarter {
    width: 50%;
  }
  .intro.style-2 .intro-text p {
    font-size: 36px;
  }
  .about-me .info {
    padding-left: 0;
  }
  .content-wrap {
    margin-left: 0;
  }
  .nav-type-4 {
    width: 100%;
    height: auto;
    position: fixed;
  }
  .nav-type-4 .navbar-header {
    margin: 0;
  }
  .nav-type-4 .header-wrap {
    width: 100%;
    padding: 0 15px;
  }
  .nav-type-4 .logo-container {
    width: auto;
    padding: 0 15px;
  }
  .nav-type-4 .nav {
    margin: 0;
  }
  .logo-wrap{
    width: 38%;
  }
  .nav-type-4 .logo-wrap > a {
    height: 14px;
  }
  .logo-container{
    float: none;
  }
  #ytb-wrap .hero-text {
    font-size: 76px;
  }
  .si-logo{
     padding-top: 2%;
  }
  .vertical-row, .vertical-row-y {
    display: none;
  }
  .recovery-text-y {
    padding: 2% 1% 3% 4%;
  }
  .chasi-div {
    padding: 5% 0% 0% 0%;
}
.involved-icons{
   padding: 6%;
  }
  .involved-wrap, .clipboard-wrap{
    text-align: center;
  }
  .row-houses{
    padding: 24% 0;
  }
  
  .pad-for-grass{
    padding-bottom: 0;
  }
  .da-pad {
    padding:14% 0 0 0;
  }
  .grass{
      background-image: none;
  }
  .sign-col{
    position: inherit;
  }
  .sign{
    display: none;
  }
  .sign-no-stick{
    display: inline-table;
    padding-bottom: 2%;
  }
  .section-wrap{
    padding-bottom: 20px;
  }
  .sign-in-grass{
    padding-left: 6%;
  }
   .contact-sign{
    display: none;
  }
  .contact-us-info{
    position: static;
    padding: 2% 0 8% 0;
  } 
  .contact-us-text {
    line-height: 28px;
    font-size: 15px;
    padding-top: 2%;
  }
  .contact-header{
    font-size: 15px;
    margin: 1%;
    margin-top: 1%;
  }
  .landing-hvr-text {
    color: #fff;
    padding: 4% 2% 0%;
    font-size: 19px;
    line-height: 24px;
  }
  .top-landing-sign {
    padding: 11% 0 0;
    width: 39%;
  }
  .pps-icons-col{
    padding-top: 13%;
  }
  .pps-row{
    text-align: center;
  }
}
@media(max-width: 800px) {
  
}

@media (max-width: 768px) {
  .sign-icons{
    padding: 10%
  }
  .sign-div{
    padding: 0;
  }
  .group-col-pad{
  padding: 0 8px;
  }
  .check-left-pad{
    padding-left: 0;
  }
  .top-landing-sign {
    padding: 10% 0 0;
    width: 43%;
  }
  .request-sign-img{
    padding-top: 1%;
  }
  .mikes-diner-sub-title {
    top: 53%;
    padding: 0 23%;
    font-size: 17px;
    line-height: normal;
  }

}
  
@media (max-width: 767px) {
  .section-wrap {
    padding: 80px 0;
  }
  .intro-heading {
    font-size: 22px;
  }
  .heading-frame {
    padding: 24px 30px;
  }
  .grid-3-col.grid-gutter .work-item {
    width: 100%;
  }
  .process-item {
    margin-bottom: 40px;
  }
  .our-team .container-fluid {
    padding: 0 15px;
  }
  .client-logo {
    border-right: none;
  }
  .second-row .client-logo {
    border-bottom: 1px solid #dedede;
  }
  .second-row .client-logo:last-child {
    border-bottom: none;
  }
  .blog-standard .sidebar,
  .blog-single .sidebar {
    padding-left: 15px;
    margin-top: 50px;
  }
  .hero-message h1,
  .hero-message.text-rotator h1 {
    font-size: 38px;
  }
  .angle-top:before,
  .angle-bottom:after {
    content: none;
  }
  .main-wrapper-onepage.angles .result-box {
    padding: 30% 0;
  }
  .main-wrapper-onepage.angles .process, .main-wrapper-onepage.angles .parallax-testimonials {
    padding: 150px 0;
  }
  .main-wrapper-onepage.angles .parallax-testimonials .owl-pagination {
    bottom: 30px;
  }
  .main-wrapper-onepage.angles .gmap {
    height: 450px;
  }
  .call-to-action.style-2 {
    padding: 100px 0;
  }
  .call-to-action.style-2 h2 {
    font-size: 26px;
  }
  .copyright,
  .footer-socials .social-icons {
    text-align: center;
  }
  .footer-socials .social-icons,
  .footer-socials .social-icons a {
    float: none;
    margin-top: 7px;
  }
  .copyright span {
    line-height: 1.5;
  }
  .page-title.style-2 .breadcrumb {
    position: relative;
    text-align: center;
    margin-top: 15px;
  }
  .page-title.style-2 .title-text h1 {
    text-align: center;
    font-size: 24px;
  }
  .section-wrap.intro {
    padding: 170px 0 100px;
  }
  .intro.style-2 .intro-text p {
    font-size: 28px;
  }
  .footer-type-3,
  .footer-type-3 .footer-socials {
    text-align: center;
  }
  #ytb-wrap .hero-text {
    font-size: 50px;
  }
  .sidenav .container-fluid,
  .sidenav .container {
    width: 100%;
  }
  .carousel-control.right {
    left: 32%;
  }
   .group-col-pad{
    padding: 2% 2%;
  }
  
  .flex{
    display: inline-block;
  }
  .sign-icons{
    padding: 3%
  }
  .da-bg{
    background-size: cover;
  }
  .da-title{
    position: inherit;
    padding-top: 20px;
  }
  .top-landing-sign{
    display: none;
  }
  .top-landing-sign-2{
    display: inline-table;
    width: 75%;
    padding: 15% 0 2%;
  }
}




@media (max-width: 736px) {
  
}

@media only screen and (max-width: 600px){
.nav-tabs > li{ margin-bottom:24px;}


}
@media (max-width: 640px) {
  .overlay-menu ul li a {
    font-size: 26px;
  }
  .section-wrap.intro {
    padding: 150px 0 70px;
  }
  .intro.style-2 .intro-text p {
    font-size: 24px;
  }
  .request-sign-img{
    padding-top: 5%;
  }
}


@media (max-width: 500px) {
  .top-landing-sign-2{
    width: 100%;
    padding: 25% 11% 2%;
  }
  .request-sign-img{
    padding-top: 11%;
  }
}


/*@media (max-width: 480px) {
  
  .entry-comments .comment-content {
    padding-left: 80px;
  }
  .comment-reply {
    padding-left: 30px;
  }
  .nav-tabs > li {
    width: 100%;
    margin-bottom: 10px;
  }
  .nav.nav-tabs > li > a {
    margin-right: 0;
  }
  .page-404 h1 {
    font-size: 80px;
  }
}*/
@media (max-width: 414px) {
  .logo-wrap{
    width: 68%;
  }
  .lawn-banner{
    padding-top: 18%;
  }
  .si-logo {
    font-size: 27px;
    padding: 25px;
  }
  .help-btn-text{
    color: #ababab;
    padding: 0;
    font-size: 15px;
  }
  .help-title-text{
    font-size: 25px;
    padding-top: 2%;
  }
  .help-btn{
    font-size: 13px;
  }
  .footer-top{
    padding: 23px 0 70px;
  }
  .nyc-btn {
    font-size: 14px;
    padding: 7px 27px;
    margin-top: 10px;
  }
  .help-btn-nav{
    font-size: 16px;
    letter-spacing: -.2px;
  }
  .nyc-banner-div{
    padding: 9% 0px;
  }
  .chasi-div {
    padding: 5% 9% 2% 5%;
  }
  .nyc-logo{
    padding-top: 7%;
  }
  .y-div {
    padding: 4% 0% 4% 0%;
  }
  .recovery-text-y{
    padding: 1% 1% 12% 4%;
  }
  .ymca-logo, .chasi-logo, .chris-logo{
    padding-top: 12%;
  }
  .naloxone-png {
    position: absolute;
    top: 5%;
    max-width: 54%;
    right: 24%;
  }
  .section-wrap {
    padding: 40px 0;
}
  .coming-soon-title {
    font-size: 39px;
  }
  .talk-col{
  padding-left:15px;
  }
  .talk-wrap{
    padding: 0;
  }
  .form-wrapper {
    padding: 2% 0%;
  }
  .j-forms .content {
    padding: 24px 6px 0;
  }
  .form-btn {
    float:none;
  }
  
  .da{
    padding-left: 13%;
  }
  .da-pad {
    padding: 7% 0 0 0;
  }
  .da{
    padding-top:5%;
  }
  
  .socials-wrap{
    padding-top: 0;
  }
  .contact-us-text{
    font-size: 17px;
    line-height: 23px;
    padding-top: 7px;
  }
  .contact-header {
    padding-top: 18px;
    font-size: 16px;
  }
  
  .sign-section{
    padding: 0;
  }
  .contact-sign-row{
    padding: 2% 0 0;
  }
   div.row.translate-row{
    padding-bottom:1%;
  }
  .contact-grass{
    background-image: none;
  }
  .sign-icons{
    padding: 5%;
    margin-top: 7%;
  }
  .naloxone-text {
    padding: 10% 4%;
  }
 
  .iphone-sign{
    display: initial;
     padding-top: 11%
  }
 
  .aa-pad{
    padding: 4% 2% 4% 2%;
  }
  .nyc-well-h5{
    font-size: 15px;
    line-height: 26px;
    padding: 2% 0;
  }
  .learn-more-banner{
    padding-top: 13%;
  }
  .top-landing-sign-2 {
    padding: 25% 2% 2%;
  }
  .mikes-diner-photo{
    display: none;
  }
  .mikes-diner-phone{
    display: inherit;
    padding: 10% 0 0;

  }
  .mikes-diner-title {
    top: 32%;
    font-size: 26px;
  }
  .mikes-diner-sub-title {
    top: 46%;
    padding: 0 9%;
    font-size: 14px;
    line-height: inherit;
  }
  .nav-tabs{
    margin: 50px 0px 7px 0px;
  }
}

@media (max-width: 375px) {
  .help2-img{
    width: 425px;
  }
  .top-landing-sign-2 {
    padding: 25% 2% 2%;
  }
  .request-sign-img {
    padding-top: 15%;
  }
  .mikes-diner-sub-title {
    top: 49%;
  }
  .mikes-diner-phone{
    padding: 17% 0 0;
  }
}

@media (max-width: 360px) {
 .landing-hvr-text {
    padding: 4% 1% 0%;
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .help1-img{
     width: 419px;
  }
  .help2-img{
    width: 460px;
  }
  .help3-img{
    width: 402px;
  }
  .help4-img{
    width: 460px;
  }
  .coming-soon-title {
    font-size: 30px;
} 
.coming-soon-text{
  font-size: 16px;
}
.support-group-pic{
  height: 135px;
}
.landing-hvr-text {
    padding: 4% 1% 0%;
    font-size: 16px;
  }

}
/*# sourceMappingURL=responsive.css.map */