
.scroll-down {
	background-color: rgb(169, 169, 166);
	left: 50%;
   }


.nyc-btn {
    font-size: 15px;
    padding: 10px 23px;
    margin-top: 10px;
}

.nyc-logo{
	height: 100%;
}
.nyc-well-div{
	background-image: url(nyc-banner.jpg);
    background-size: cover;
    text-align: center;
}
.nyc-banner-div{
	padding: 3%;
}
.nyc-title{
	color: #fae136;
}