
.scroll-down {
	background-color: rgb(169, 169, 166);
	left: 50%;
   }


.nyc-btn {
    font-size: 15px;
    padding: 10px 23px;
    margin-top: 10px;
}

.nyc-logo{
	height: 100%;
}
.nyc-well-div{
	background-image: url(nyc-banner.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 9%;
}
.nyc-banner-div{
	padding-bottom: 3%;
}
.nyc-title{
	color:white;
}
.nyc-sub{
	padding: 2% 4%;
	line-height: 29px;
}
.nyc-wrap{
	padding: 0 5% 3% 5%;
}
.nyc-icon{
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fae136;
  color: #000;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

.nyc-contact-div{
	display: inline-flex;
}

.nyc-icon-text{
	font-weight: 700;
    padding: 10%;
    font-size: 17px;
}
.chasi-div{
	padding: 5% 0% 2% 5%;

}

.vertical-row {
	float: left;
	height: 270px;
	border-right: 1px solid grey;
	margin-top: 4%;
	margin-left: -5%;
} 

.recovery-text{
	padding: 2% 1% 3% 4%;
}

.recovery-text-y{
	padding: 9% 1% 3% 4%;
}
.y-div{
	padding: 4% 0% 4% 5%;
}

.address-pad{
	/*padding: 0 16%;*/
}

.vertical-row-y {
	float: left;
	height: 317px;
	border-right: 1px solid grey;
	margin-top: 4%;
	margin-left: -5%;
} 

.recovery-text-chris{
	padding: 4% 1% 1% 4%;
}
.noleftpad{
	padding-left: 0;
}
#check1{
	color: black;
	padding: 0px 10px 0 0;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.section-wrap2{
	padding: 5% 0;
}
.subtitle-grey{
	font-size:19px;
	color:#a5a4a4;
}

.subtitle-lite{
	font-size:19px;
	color:#efeeee;
}
.font19{
	font-size: 19px;
}

.group-wrap{
	padding: 0 5% 0% 5%;
}
.bottom-map-div{
	display: inline-flex;
	padding: 5%;
}
.bottom-map-text{
	color: #a5a4a4;
}
.relative{
	position: relative;
}
.naloxone-png{
	position: absolute;
	top: 12%;
    max-width: 48%;
    right: 27%;
}
.naloxone-text{
	padding: 4% 8%;
}
.bg-dark-grey{
	background-color:#414141;
}

#check2{
	color: #fae136;
	padding: 0px 20px 0 0;
}
.yellow-text{
	color: #f4ec3d;
}
.nyc-subtitle{
	color: white;
	font-size: 22px;
	padding: 15px 0;
}
.loved-top-banner{
	background-image: url(loved-top-banner.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 20%;
}

.lt-grey-text{
	color: #a5a4a4;
}
.recovery-logo{
	padding: 2%;
}
.footnote{
	font-style: italic;
	font-size: 12px;
}
















